@model List<Police.Models.Verbale>

@{
    ViewBag.Title = "Index";
}

<h2>Main Page of the Police</h2>

<h5>Aggiungi nuovo modello di scarpe:</h5>
<a href="/Verbale/Create" class="btn btn-success">Aggiungi Verbale</a>

